body {
  font-size: 14pt;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

header {
  text-align: center;
  font-size: 40pt;
  font-weight: bold;
}

header img {
  vertical-align: top;
}

#summary {
  font-size: 10pt;
  padding: 5px;
  font-style: italic;
}

#search {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 20px;
}

#search input {
  height: 40px;
  font-size: 14pt;
  padding-left: 10px;
}

#results li {
  padding-top: 20px;
  border-top: thin solid #eeeeee;
  text-align: center;
  list-style: none;
}

#results .artist a {
  text-decoration: none;
}

@media only screen and (max-device-width: 480px) {
  body: {
    width: 100%;
  }
}
